extends layout

block content
  h1= title
  p Use the form below to add a contact.
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST' action='/contacts/add')
    .form-group
      label(for='firstName') First Name
      input#firstName.form-control(type='text', name='firstName', required='true', value=(contact ? contact.firstName : ''))
    .form-group
      label(for='lastName') Last Name
      input#lastName.form-control(type='text', name='lastName', required='true', value=(contact ? contact.lastName : ''))
    .form-group
      label(for='email') Email
      input#email.form-control(type='email', name='email', value=(contact ? contact.email : ''))
    .form-group
      label(for='notes') Notes
      input#notes.form-control(type='text',name='notes', value=(contact ? contact.notes : ''))
    | 
    button(type='submit') Create A Contact 
    | 
    a(href='/contacts') Cancel
